/* search-div */
#searchDiv{
  display: block;
  margin: 0 auto;
  text-align: center;
}
/* searchBar */
#myTextField {
    /* display: block;
    margin: 0 auto;
    text-align: center; */
    width: 50%; /* You can adjust the width as needed */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 25%; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
  }
/* mydivision */
.myDiv {
    transition: transform 0.2s; /* Adding transition for smooth effect */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left:0%;
    width: 80%;
    height: 6px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
  }

/* searchbutton  */
#search-button {
  position: relative;
  right: 6%;
  /* top:10%; */ 
  background-color: #FF7034;
  color: white;
  /* padding: 10px 20px; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
}
/* addbutton */
#addButton{
    position: relative;
    left: 43%;
    top:13%; 
    align-items: center;
    color: rgb(0, 0, 0);
}

/* zoom and hover  */
.zoom-div:hover {
  transform: scale(1.05); /* Applying scale transform on hover */
}
