/* search-div */
#searchDiv{
  display: block;
  margin: 0 auto;
  text-align: center;
}
/* searchBar */
#myTextField {
    /* display: block;
    margin: 0 auto;
    text-align: center; */
    width: 50%; /* You can adjust the width as needed */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 25%; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
  }
/* mydivision */
.myDiv {
    transition: transform 0.2s; /* Adding transition for smooth effect */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left:0%;
    width: 80%;
    height: 6px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
  }

/* searchbutton  */
#search-button {
  position: relative;
  right: 6%;
  /* top:10%; */ 
  background-color: #FF7034;
  color: white;
  /* padding: 10px 20px; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
}
/* addbutton */
#addButton{
    position: relative;
    left: 43%;
    top:13%; 
    align-items: center;
    color: rgb(0, 0, 0);
}

/* zoom and hover  */
.zoom-div:hover {
  transform: scale(1.05); /* Applying scale transform on hover */
}

.delete-button {
  /* padding: 8px 16px; */
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  right:1%;
}

.delete-button:hover {
  background-color: #d53e28;
}

  /* backbutton */

  .back-button {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-button::before {
    content: '\2190'; /* Unicode for left arrow */
    display: block;
    color: orangered;
    font-weight: bold;
    font-size: 20px; /* Adjust as needed */
    line-height: 30px; /* Adjust as needed */
    text-align: center;
  }