<!-- my-form.component.html -->
<div>
    <!-- Add a line to display toShowField for debugging purposes -->
    <input id="myTextField" type="text" [(ngModel)]="textFieldValue" placeholder="Enter the Title" [readonly]="!isEditable" />
    <br /><br>
    <textarea id="myTextArea"[(ngModel)]="textAreaValue" rows="4" cols="50" placeholder="Enter the Description"  [readonly]="!isEditable" ></textarea>
    <br/><br>
    <input id = "dateInput" type="date" [(ngModel)]= "taskDate" [readonly]="!isEditable">
    <br/><br>
    <button id="myButton" (click)="onClick()" *ngIf="!(index >-1)">Add Task</button>
    <button id="myButton" (click)="onClickEdit()" *ngIf="!isEditable">Edit</button>
    <button id="myButton" (click)="onClickUpdate()" *ngIf="isEditable && index > -1 ">Update</button>
    <button class="back-button" routerLink="/list" ></button>
</div>
  
