/* your-component-name.component.css */
body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.bg-image {
    /* Set the background image */
    /* Center and scale the image nicely */
    background-image: url(C:\Users\A7230\Desktop\Angular\to-do\TO-DO\src\assets\bg2.jpg);
    
    /* Full height */
    height: 100vh; 
    width : 100vw;
    margin: 0px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 80%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  
  #my-heading {
    text-align: center;
    font-family: cursive, sans-serif; /* Set the font to Helvetica with a fallback to a generic sans-serif font */
    font-size: 2.5em; /* Adjust the font size as needed */
    /* Additional styles like color, background, etc. can be added here */
    color: #FF7034;
  }
  